<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("template/Nav") %>
    
    <%- include("template/barra")%>
    
    <div class="Container">
        <% data.forEach(function(datas){%>
        <div class="Container-Product">
            <div class="Contenedor-Imagen">
                <img src="<%= datas.Imagen %>" alt="" width="100%" height="100%">
            </div>
            <div class="Contenedor-Textos">
                <h2><%= datas.NameProudct %> </h2>
                <p>Precio: <%= datas.Precio %></p>
                <p><%= datas.Descripcion %></p>
            </div>
            <div class="Contenedor-Boton">
                <a href="/edit/<%= datas.id %>" class="primary">Edit</a>
                <a href="/Delete/<%= datas.id %>" class="danger">Delete</a>
            </div>
        </div>
        <%});%>
    </div>
    <script src="js/barra.js"></script>
</body>
</html>